body {
    background: #F2F2F5;
    margin: 0;
    font-family: Aeonik;
}

/* Menu Bar */

header {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Style */
    padding: 16px 60px;
    background: #fff;

}

.btn {
    /* Layout */
    display: flex;
    height: 48px;
    width: fit-content;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /* Style */
    border-radius: 58px;
    background: var(--brand-primary, #3399FD);
    box-shadow: 0px 8px 16px 0px rgba(51, 153, 253, 0.32);

    /* Typography */
    color: var(--text-white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.16px;
}

nav {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 24px;
}

nav a {
    color: var(--text-primary, #272F3A);
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
}

nav .active {
    color: var(--Button, #3399FD);
    font-weight: 700;
}

/* Hero Section */

#hero-section {
    background: #57B3BD;
    min-height: 540px;
}

h1 {
    margin: 0;
    color: var(--Text, #272F3A);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.32px;
}

p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
}

footer {
    background: #0C1C2C;
}